{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Пользователи</h2>
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'accounts:public_profile' user.username %}">{{ user.username }}</a>
                {% if user.first_name or user.last_name %}
                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">Нет пользователей.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
