{% extends 'base.html' %}
{% load rights %}
{% block title %}Пост{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="card-header">
                <strong>{{ post.author.username|default:"Удалённый пользователь" }}</strong> —
                {{ post.created_at|date:"d.m.Y H:i" }}
            </div>
            <div class="card-body">
                <p>{{ post.content|linebreaks }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="img-fluid rounded">
                {% endif %}
            </div>
            <form action="{% url 'social:post_like_toggle' post.pk %}" method="post" class="mb-3">
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-sm {% if user in post.likes.all %}btn-danger{% else %}btn-outline-danger{% endif %}">
                    ❤ {{ post.likes.count }}
                </button>
            </form>


        </div>
        <h3>Комментарии</h3>

        {% for comment in post.comments.all %}
            <div class="mb-2 border p-3 rounded bg-light">
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <strong>{{ comment.author.username }}</strong> —
                        <small>{{ comment.created_at|date:"d.m.Y H:i" }}</small>
                    </div>
                    {#                    {% if user|can_delete_comment:comment %}#}
                    {#                        <form method="post" action="{% url 'social:delete_comment' comment.id %}">#}
                    {#                            {% csrf_token %}#}
                    {#                            <button#}
                    {#                                    class="btn btn-sm btn-outline-danger"#}
                    {#                                    data-bs-toggle="modal"#}
                    {#                                    data-bs-target="#confirmDeleteModal"#}
                    {#                                    data-delete-url="{% url 'social:comment_delete' comment.id %}"#}
                    {#                            >#}
                    {#                                <i class="bi bi-trash"></i>#}
                    {#                            </button>#}
                    {#                        </form>#}
                    {#                    {% endif %}#}
                    {% if user|can_delete_comment:comment %}
                        <button
                                class="btn btn-sm btn-outline-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmDeleteModal"
                                data-delete-url="{% url 'social:comment_delete' comment.id %}"
                        >
                            <i class="bi bi-trash"></i>
                        </button>
                    {% endif %}
                </div>
                <p class="mt-2 mb-0">{{ comment.content|linebreaks }}</p>
            </div>
        {% empty %}
            <p>Пока нет комментариев.</p>
        {% endfor %}

        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Добавить комментарий</button>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">Войдите</a>, чтобы оставить комментарий.</p>
        {% endif %}

    </div>

{% endblock %}
